a.out
fort.*
*.gz
BND.out.20
RAW.out.20
cqa*
tmp.txt
RAW_20.out
maqao*
lsvceiter
covcor/zero.ppm
covcor/RAW.out.412.sort
covcor/origin.ppm
covcor/outputA.ppm
updatedBVLS/BND.out
updatedBVLS/RAW.out.412
updatedBVLS/outputA.out
covcor/total.ppm
updatedBVLS/Rtilde
